<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">

    <!-- Name on website tab -->
    <title>MyuSync</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/logo.png" />

    <!-- Linking JS -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Linking CSS -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">

    <!-- Font Awesome-->

    <link rel="fontawesome" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" integrity="sha512-u7ppO4TLg4v6EY8yQ6T6d66inT0daGyTodAi6ycbw9+/AU8KMLAF7Z7YGKPMRA96v7t+c7O1s6YCTGkok6p9ZA==" crossorigin="anonymous" />

    <!--Google Fonts -->
    <!-- Navbar font - Roboto Slab, Jumbotron - Exo, Footer -  -->
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@900&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@900&family=PT+Serif:ital,wght@1,700&family=Roboto+Slab&display=swap" rel="stylesheet">
    <script type="text/javascript">
      function UserTypeCheck() {
          var T = document.getElementById("ShowUserChoice");
          T.style.display = "block";  // <-- Set it to block
      }
    </script>
  <style>

.forgotpw-jumbotron{
  background-color: #B7D3F2;
  margin-top: 0.5em;
  padding: 5em;

}
.forgotpw-jumb-head {
  font-size: 50px;
  text-align: center;
  color:#2F2F4C;
  font-family: 'Exo', sans-serif;
}
.changepw-table p {
  margin-top: 1em;
}

  </style>
  </head>
  <body>
    {% with messages = get_flashed_messages()%}
        {% if messages %}
            {%for msg in messages%}
                <p>{{msg}}</p>
            {%endfor%}
        {%endif%}
    {%endwith%}
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
      <div class="logo">
        <img src="\static\images\newlogo.png" width="50px" alt="Logo">
      </div>
      <a class="navbar-brand nav-head" >MyuSync</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown" >
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('home')}}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('aboutus')}}">About Us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('ourteam')}}">Our Team</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('login')}}">Login </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('feedback')}}">Feedback</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- ___ -->
    <section class="forgotpw-jumbotron">
      <div class="container-fluid">
        <h1 class="forgotpw-jumb-head">CHANGE PASSWORD</h1>
      </div>
    </section>
 <div class="col-6 container-fluid" style="width:400px;">
          <form method="post" style="text-align:left;">
            <table class="changepw-table">
              <tr>
                <td>
                  <label for="username">Username: </label>
                </td>
                <td>
                {%if info!=""%}
                  <input type="text" id="check-username" value={{info[0]}} name="checkusername" />
                {%endif%}
                {%if info==""%}
                  <input type="text" id="check-username"  name="checkusername" />
                {%endif%}
                </td>
              </tr>

              <tr>
                <td>
                  <label for="email">Email-id: </label>
                </td>
                <td>
                {%if info!=""%}
                  <input type="email" id="check-email" value={{info[1]}} name="checkemail" />
                {%endif%}
                {%if info==""%}
                  <input type="email" id="check-email"  name="checkemail" />
                {%endif%}
                </td>
              </tr>

              <tr>
                <td>
                  <label for="email">Usertype: </label>
                </td>
                <td>
                {%if info!=""%}
                  {%if info[2]=='Musician'%}
                    <select name="checkusertype" id="usertype">
                      <option value="Musician" selected="selected">Musician</option>
                      <option value="Non-Musician">Non-Musician</option>
                    </select>
                  {%endif%}
                  {%if info[2]=='Non-Musician'%}
                    <select name="checkusertype" id="usertype">
                      <option value="Musician">Musician</option>
                      <option value="Non-Musician" selected="selected">Non-Musician</option>
                    </select>
                  {%endif%}
                {%endif%}
                {%if info==""%}
                  <select name="checkusertype" id="usertype">
                    <option value="Musician">Musician</option>
                    <option value="Non-Musician">Non-Musician</option>
                  </select>
                {%endif%}
                </td>
              </tr>

              <tr>
                <td>
                  <label for="newPassword">New Password:</label>
                </td>
                <td>
                  <input type="password" id="newPassword" name="newpassword" title="New password" />
                </td>
              </tr>
              <tr>
                <td>
                  <label for="confirmPassword">Confirm Password:</label>
                </td>
                <td>
                  <input type="password" id="confirmPassword" name="confirmpassword" title="Confirm new password" />
                </td>
              </tr>
              <tr align="center">
                <td colspan="2">
                  <p class="form-actions">
                    <center><input type="submit" value="Change Password"/></p>
                </td>
              </tr>
            </table>
          </form>
        </div>
    <!-- Footer -->
    <footer>
      <p> Created with <i class="fa fa-heart"></i> by MyuSync</p>
    </footer>
  </body>
</html>
