<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">

    <!-- Name on website tab -->
    <title>MyuSync</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/logo.png" />

    <!-- Linking JS -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Linking CSS -->
    <link href="assets/non-profile.css" rel="stylesheet" type="text/css" />

    <!-- Font Awesome-->

    <link rel="fontawesome" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" integrity="sha512-u7ppO4TLg4v6EY8yQ6T6d66inT0daGyTodAi6ycbw9+/AU8KMLAF7Z7YGKPMRA96v7t+c7O1s6YCTGkok6p9ZA==" crossorigin="anonymous" />

    <!--Google Fonts -->
    <!-- Navbar font - Roboto Slab, Jumbotron - Exo, Footer -  -->
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@900&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@900&family=PT+Serif:ital,wght@1,700&family=Roboto+Slab&display=swap" rel="stylesheet">

  </head>
  <body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
      <div class="logo">
        <img src="/Users/sampurna/Downloads/z/assets/images/WhatsApp Image 2020-12-13 at 12.47.46.jpeg" width="50px" alt="Logo">
      </div>
      <a class="navbar-brand nav-head" >MyuSync</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown" >
        <ul class="navbar-nav ">
          <li class="nav-item active">
            <a class="nav-link" href="/Users/sampurna/Downloads/z/index.html">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Users/sampurna/Downloads/z/about-us.html">About Us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Users/sampurna/Downloads/z/our-team.html">Our Team</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Users/sampurna/Downloads/z/login.html">Login </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Users/sampurna/Downloads/z/feedback.html">Feedback</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- ------------>
    <body class="profile-page sidebar-collapse" style="background-color:black;">
      <div class="page-header header-filter"  style="background-image:url('https://kecbio.com/wallpaper/neon-wallpaper-full-hd-For-Full-Resolution-Wallpaper.jpg');"></div>
      <div class="main main-raised">
        <div class="profile-content">
          <div class="container">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto">
                <div class="profile">
                  <div class="avatar">
                    <img src="/Users/sampurna/Downloads/z/assets/images/f460d1d5688f2eb8ac96ee7953752da5.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <div class="name">
                    <h3 class="title">Musician</h3>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="description text-center">
                 <form>
                   <h6 class="heading-small text-muted mb-4">User information</h6>
                   <div class="pl-lg-4">
                     <div class="row">
                       <div class="col-lg-6">
                         <div class="form-group focused">
                           <label class="form-control-label" for="input-username">Username</label>
                           <input type="text" id="input-username" class="form-control form-control-alternative"  value="">
                         </div>
                       </div>
                       <div class="col-lg-6">
                         <div class="form-group">
                           <label class="form-control-label" for="input-name">Name</label>
                           <input type="text" id="input-name" class="form-control form-control-alternative" value="">
                         </div>
                       </div>
                     </div>
                     <div class="row">
                       <div class="col-lg-6">
                         <div class="form-group focused">
                           <label class="form-control-label" for="input-Gender">Gender</label>
                           <input type="text" id="input-Gender" class="form-control form-control-alternative" value="">
                         </div>
                       </div>
                         <div class="col-lg-6">
                           <div class="form-group">
                             <label class="form-control-label" for="input-doc">Date of Birth</label>
                             <input type="date" id="input-dob" class="form-control form-control-alternative" value="">
                           </div>
                         </div>
                     </div>
                     <div class="row">
                       <div class="col-lg-6">
                         <div class="form-group focused">
                           <label class="form-control-label" for="input-work-exp">Work Experience</label>
                           <input type="Number" id="input-work-exp" class="form-control form-control-alternative" value="">
                         </div>
                       </div>
                         <div class="col-lg-6">
                           <div class="form-group">
                             <label class="form-control-label" for="input-language">Languages</label>
                             <input type="text" id="input-language" class="form-control form-control-alternative" value="">
                           </div>
                         </div>
                     </div>
                     <div class="row">
                       <div class="col-lg-6">
                         <div class="form-group focused">
                           <label class="form-control-label" for="input-type">Type</label>
                           <input type="text" id="input-type" class="form-control form-control-alternative" value="" >
                         </div>
                       </div>
                         <div class="col-lg-6">
                           <div class="form-group">
                             <label class="form-control-label" for="input-genre">Genre</label>
                             <input type="text" id="input-genre" class="form-control form-control-alternative" value="">
                           </div>
                         </div>
                     </div>
                     <div class="row">
                       <div class="col-lg-12">
                         <div class="form-group focused">
                           <label class="form-control-label" for="input-work-links">Work Links</label>
                           <input type="url" id="input-work-links" class="form-control form-control-alternative" value="">
                         </div>
                       </div>
                     </div>
                   </div>
                 </form>
               </div>
             </div>
           </div>
         </div>
        <!-- Footer -->
        <footer class="footer-profile">
          <p> Created with <i class="fa fa-heart"></i> by MyuSync</p>
        </footer>
        <!-- ------------------------------>
</div>
      </body>
    </html>
