<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">

    <!-- Name on website tab -->
    <title>MyuSync</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/logo.png" />

    <!-- Linking JS -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <link href="assets/script.js" rel="script" type="text/javascript">

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Linking CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/nonmusician.css') }}">

    <!-- Font Awesome-->

    <link rel="fontawesome" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" integrity="sha512-u7ppO4TLg4v6EY8yQ6T6d66inT0daGyTodAi6ycbw9+/AU8KMLAF7Z7YGKPMRA96v7t+c7O1s6YCTGkok6p9ZA==" crossorigin="anonymous" />

    <!--Google Fonts -->
    <!-- Navbar font - Roboto Slab, Jumbotron - Exo, Footer -  -->
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@900&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@900&family=PT+Serif:ital,wght@1,700&family=Roboto+Slab&display=swap" rel="stylesheet">
    <style>
    .profile-nav-bar li a.active {
      background-color: #003B66;
      color: white;
    }

    .profile-nav-bar li a:hover:not(.active) {
      background-color: #555;
      color: white;
    }
    </style>

  </head>
  <body>
<!-- side bar -->
    <section class="profile-nav-bar" >
      <ul>
        <li class="logo-and-name">
        <span class="logo" >
          <img src="/Users/sampurna/Downloads/z/assets/images/WhatsApp Image 2020-12-13 at 12.47.46.jpeg" width="50px" alt="Logo">
            <span class="logo-name">MyuSync </span></span></li>
            <li><a class="active" href="{{url_for('nonmusicianprofile')}}">Profile</a></li>
            <li><a href="{{url_for('searchnm')}}">Search For Musician</a></li>
            <li><a href="{{url_for('editnm')}}">Edit Profile</a></li>
            <li><a href="{{url_for('logout')}}">Log Out</a></li>
      </ul>
    </section>
  </body>
<!-- __________ -->

<body class="profile-page sidebar-collapse" style="background-color:black;">
  <div>
  <div style="margin-left:15%;padding:1px 16px;height:1000px;">
  <div class="page-header header-filter"  style="background-image:url('/Users/sampurna/Downloads/z/assets/images/equaliser-music-bar-blue-4k-wallpaper-2560x1080.jpg');"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="/Users/sampurna/Downloads/z/assets/images/glowing-neon-music-note-tone-icon-isolated-on-vector-28399141.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">
                <h3 class="title">Search for Musician</h3>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="description text-center">
             <form>
               <div class="pl-lg-4">
                 <div class="row">
                   <div class="col-lg-6">
                     <h6 class="choice-head"> Choose language: </h6>
                   </div>
                   <div class="col-lg-6">
                     <div class="form-group focused">
                       <div class="top-space">
                         <input type="checkbox" name="LangEng" id="edit-det1" value="English">  English<br>
                         <input type="checkbox" name="LangHindi" id="edit-det1" value="Hindi">  Hindi<br>
                         <input type="checkbox" name="LangOther" id="edit-det1" value="Other">  Other<br>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="col-lg-6">
                     <h6 class="choice-head"> Choose type of Musician: </h6>
                   </div>
                   <div class="col-lg-6">
                     <div class="form-group focused">
                       <div class="top-space">
                         <input id="edit-det1" type="checkbox" name="Vocalist"  value="Vocalist">  Vocalist<br>
                         <input type="checkbox" name="Instrumentalist" id="edit-det1" value="Instrumentalist">  Instrumentalist<br>
                         <input type="checkbox" name="Composer" id="edit-det1" value="Composer">  Composer<br>
                         <input type="checkbox" name="Other" id="edit-det1" value="Other">  Other<br>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="col-lg-6">
                     <h6 class="choice-head"> Choose language: </h6>
                   </div>
                   <div class="col-lg-6">
                     <div class="form-group focused">
                       <div class="top-space">
                         <input id="edit-det1" type="checkbox" name="Pop"  value="Pop">  Pop<br>
                         <input type="checkbox" name="Rock" id="edit-det1" value="Rock"> Rock<br>
                         <input type="checkbox" name="Hip-Hop" id="edit-det1" value="Hip-Hop"> Hip Hop<br>
                         <input type="checkbox" name="Jazz" id="edit-det1" value="Jazz"> Jazz<br>
                         <input type="checkbox" name="Other" id="edit-det1" value="Other"> Other<br>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="row">
                   <div class="col-lg-12">
                     <div class="mus-search-button-div">
                       <button id="mus-search-button" type="search" onclick="" name="button" value="submit">Search</button>
                     </div>
                   </div>
               </div>
             </form>
           </div>
         </div>
       </div>
     </div>
     </div>
    <!-- ------------------------------>
    <!-- Footer -->
    <footer class="footer-profile-search">
      <p> Created with <i class="fa fa-heart"></i> by MyuSync</p>
    </footer>
    <!-- ---------------------------- -->

  </body>
</html>
